{% extends 'base.html' %}
{% block title %}
<title>Grades</title>
{% endblock %}

{% block body %}
<!-- Masthead-->
<header class="masthead text-center">
    <div class="container d-flex flex-column">
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Grades</h1>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Group</th>
                        <th scope="col">Presences</th>
                        <th scope="col">Grade 1</th>
                        <th scope="col">Grade 2</th>
                        <th scope="col">Average</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in student_list %}
                    <tr>
                        <td><a href="{% url 'presence_count:view_student' student.id %}" target="_blank">{{student.name}}</a></td>
                        {% if student.group_id %}
                            <td><a href="{% url 'presence_count:view_group' student.group_id %}" target="_blank">{{student.group}}</a></td>
                        {% else %}
                            <td>{{student.group}}</td>
                        {% endif %}
                        <td>{{student.presences}}</td>
                        <td>
                            <div class="grade1-update">
                                <input class="form-check-input grade" style='width: 2.5em' input="number" step="0.1"
                                    value={{student.grade_1}} name="grade1">
                            </div>
                        </td>
                        <td>
                            <div class="grade2-update">
                                <input class="form-check-input grade" style='width: 2.5em' input="number" step="0.1"
                                    value={{student.grade_2}} name="grade2">
                            </div>
                        </td>
                        <td>{{student.grade_avg}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-secondary" type="submit">Update Grades</button>
        </form>
    </div>
</header>
{% endblock %}