{% extends 'base.html' %}
{% block title %}
    <title>Student Options</title>
{% endblock %}

{% block body %}
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Student options</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <h2><a style='color:aliceblue; text-decoration: none;' href="{% url 'presence_count:register_student' %}">New student</a></h2>
            <h2><a style='color:aliceblue; text-decoration: none;' href="{% url 'presence_count:select_student' %}">Manage students</a></h2>
            <h2><a style='color:aliceblue; text-decoration: none;' href="{% url 'presence_count:grades_manager' %}">Grades</a></h2>
        </div>
        {% include 'snippets/scripts.html' %}
    </header>
{% endblock %}
